/* App.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .cointainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    position:absolute;
    top: 10px;
    left:41%;
    font-size: 80px;
  
  }

  .winnertext{
    animation: changecolor 2s ease-in-out 0.2s infinite linear;
  }
  
@keyframes changecolor {
  0% { color: red; }
  25% { color: rgb(150, 30, 146); }
  50% { color: black; }
  75% { color: green; }
  100% { color: yellow; }
}
  
  h2 {
    color: #666;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 30px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .ticket-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  